* {
	box-sizing: border-box;
}

:root {
	--inside-cell: 18px;
}
html,
body {
	min-height: 100vh;
}

body.blip {
	background-color: #ddd;
}
body.blip #left,
body.blip #right {
	background-color: #ccc;
}
body.blip #content {
	opacity: 0.8;
}

#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
#content {
	text-align: center;
	padding: 10px;
}
#left,
#right {
	background-color: #eee;
	border: solid 0px #ddd;
	padding: 10px;
}
#left {
	border-right-width: 1px;
}
#right {
	border-left-width: 1px;
	flex: 1;
}

table#field {
	margin: 0 auto;
}
table#field,
#field table {
	border-collapse: collapse;
}
#field td {
	padding: 0;
}
.sizer {
	width: calc(var(--size-x)* var(--inside-cell));
	height: calc(var(--size-y)* var(--inside-cell));
}
#ms_tbody td {
	width: var(--inside-cell);
	height: var(--inside-cell);
	padding: 0;
	background-image: url(images/dicht.gif);
	background-size: cover;
}
#ms_tbody td img {
	display: block;
}
#ms_tbody td.o0 {
	background-image: url(images/open_0.gif);
}
#ms_tbody td.o1 {
	background-image: url(images/open_1.gif);
}
#ms_tbody td.o2 {
	background-image: url(images/open_2.gif);
}
#ms_tbody td.o3 {
	background-image: url(images/open_3.gif);
}
#ms_tbody td.o4 {
	background-image: url(images/open_4.gif);
}
#ms_tbody td.o5 {
	background-image: url(images/open_5.gif);
}
#ms_tbody td.o6 {
	background-image: url(images/open_6.gif);
}
#ms_tbody td.o7 {
	background-image: url(images/open_7.gif);
}
#ms_tbody td.o8 {
	background-image: url(images/open_8.gif);
}
#ms_tbody td.om {
	background-image: url(images/open_m.gif);
}
#ms_tbody td.ox {
	background-image: url(images/open_x.gif);
}
#ms_tbody td.ow {
	background-image: url(images/open_w.gif);
}
#ms_tbody td.f {
	background-image: url(images/flag.gif);
}
#ms_tbody td.n {
	background-image: url(images/nono.gif);
}

#export:focus {
	position: fixed;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	outline: solid 9999px rgba(0, 0, 0, 0.4);
	tab-size: 4;
}
#export:not(:focus) {
	position: absolute;
	top: -999px;
	left: 0;
}
