body {
	font-family: sans-serif;
	background-color: yellow;
}
table {
	border-collapse: collapse;
}
td,
th {
	border: solid 1px #999;
	padding: 4px;
	line-height: 1;
	white-space: nowrap;
	vertical-align: middle;
}
thead #reset,
thead #cheat1,
thead #cheat2 {
	float: right;
	margin-left: .25em;
}
button {
	display: inline-block;
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;
}
button:not(.loading) .loading,
#random:not(.show) .random-progress {
	display: none;
}
a.loading {
	display: inline-block;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
thead a.disabled {
	display: none;
}
tbody td {
	background: #bbb;
	padding: 0;
}
tbody td[data-state="active"] {
	background-color: black;
}
tbody td[data-state="inactive"] {
	background-color: white;
}
tbody a {
	display: block;
	padding: 0;
	text-decoration: none;
	font-size: 16px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
tbody td.error a,
tbody td.last-toggle a {
	position: relative;
}
tbody td.error a:after,
tbody td.last-toggle a:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2px;
	margin-top: -2px;
	width: 4px;
	height: 4px;
	background: red;
	z-index: 65;
	pointer-events: none;
}
tbody td.last-toggle a:after {
	background: green;
	border-radius: 10px;
}
th.hor {
	text-align: left;
}
th.hor span + span {
	margin-left: .25em;
}
th.ver {
	text-align: center;
	vertical-align: top;
}
th.ver span {
	display: block;
	margin-bottom: .25em;
}
th.hilite {
	background-color: rgba(0, 0, 0, 0.15);
}

table.invalid td,
table.invalid th {
	border-color: red;
}
th.invalid {
	color: red;
}
