body {
	font-family: sans-serif;
	background-color: yellow;
}
table {
	border-collapse: collapse;
}
td,
th {
	border: solid 1px #999;
	padding: 4px;
	line-height: 1;
	white-space: nowrap;
	vertical-align: middle;
}
thead #reset,
thead #cheat1,
thead #cheat2 {
	float: right;
	margin-left: .25em;
}
thead a.disabled {
	visibility: hidden;
}
tbody td {
	background: #bbb;
	padding: 0;
}
tbody td[data-state="active"] {
	background-color: black;
}
tbody td[data-state="inactive"] {
	background-color: white;
}
tbody a {
	display: block;
	padding: 0;
	text-decoration: none;
	font-size: 16px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	opacity: 0;
	text-align: center;
}
tbody td.invalid a {
	color: red;
	opacity: 1;
}
th.hor {
	text-align: left;
}
th.hor span + span {
	margin-left: .25em;
}
th.ver {
	text-align: center;
	vertical-align: top;
}
th.ver span {
	display: block;
	margin-bottom: .25em;
}
th.hilite {
	background-color: rgba(0, 0, 0, 0.15);
}

th.invalid {
	color: red;
}
