
* {
	margin				: 0;
	padding				: 0;
}
body,
table,
input {
	font-family			: verdana;
	font-size			: 12px;
	color				: #000;
	line-height			: 150%;
	cursor				: default;
}
body {
	margin				: 0;
	overflow			: auto;
}

table#stones {
	border-collapse		: collapse;
	touch-action		: none;
}
tbody#stones_tbody td {
	width				: 24px;
	height				: 24px;
	border				: solid 1px #fff;
	text-align			: center;
	background-color	: #fff;
}
tbody#stones_tbody td.stone {
	background-color	: #000;
}
tbody#stones_tbody td.no-stone {
	background-color	: #ccc;
}
tbody#stones_tbody td.jumper {
	background-color	: #f00;
}

#stack_message.hilite {
	background-color: red;
	color: white;
}

#loading {
	position			: absolute;
	visibility			: hidden;
	width				: 100px;
	margin-left			: -50px;
	left				: 50%;
	height				: 100px;
	margin-top			: -50px;
	top					: 50%;
	border				: none;
}

th.pad,
td.pad {
	padding				: 10px;
}
