
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	max-width: 500px;
}
body.ready.my-turn {
	background-color: #bfb;
}
body.ready.their-turn {
	background-color: #fcc;
}


h1,
.friend-url {
	padding: 10px 0 0 10px;
}
#board,
#players,
#help {
	margin: 20px 0 0 10px;
}


/**
 * Module: board
 */

#board {
	--width: 408px;
	--height: 370px;
	--scale: 1.0;
	width: calc(var(--width) * var(--scale));
	height: calc(var(--height) * var(--scale));
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#board > .shape {
	width: 100%;
	height: 100%;
	background-color: #999;
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
	/*box-shadow: #000 0px 0px 0px 2px;*/
}

.ball {
	position: absolute;
	cursor: pointer;
	width: 21px;
	height: 21px;
	margin: -3px 0 0-3px;
	background: #aaa;
	border-radius: 50%;
	box-shadow: 0 0 10px #666 inset;
}
.ball.black {
	background: #666;
	box-shadow: 0 0 10px #666, 0 0 5px #000 inset;
}
.ball.white {
	background: white;
	box-shadow: 0 0 10px #666, 0 0 5px #666 inset;
}
.ball.changed {
	box-shadow: 0 0 10px red;
}
.ball.changed.black {
	box-shadow: 0 0 10px red, 0 0 5px #000 inset;
}
.ball.changed.white {
	box-shadow: 0 0 10px red, 0 0 5px #666 inset;
}
.ball.selected {
	background: lime;
	box-shadow: none;
}



/**
 * Module: players
 */

table.players {
	border: solid 1px #000;
	x-width: 230px;
}
table.players th {
	text-decoration: underline;
	font-weight: normal;
	text-align: center;
}
table.players td.img {
	text-align: center;
}
table.players tr.self {
	font-weight: bold;
}
table.players tr.self .img.self,
table.players tr.turn .img.turn {
	display: inline-block;
	height: 0;
	width: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
table.players tr.self .img.self {
	border-left: 18px solid black;
}
table.players tr.turn .img.turn {
	border-right: 18px solid black;
}
table.players tr.other.inactive {
	color: red;
	font-weight: bold;
}



/**
 * Module: direction
 */

.direction {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: orange;
	z-index: 3;
	transform-origin: center;
	text-shadow: black 2px -2px 0, black 2px 2px 0, black -2px 2px 0, black -2px -2px 0;
	/*filter: drop-shadow(black 0 0 3px);*/
}
.direction:after {
	content: "\27A4";
}
.direction.tl {
	top: -18px;
	left: 88px;
	transform: rotate(-120deg);
}
.direction.tr {
	top: -18px;
	right: 88px;
	transform: rotate(-60deg);
}
.direction.r {
	top: 163px;
	right: -19px;
	transform: rotate(0deg);
}
.direction.br {
	bottom: -18px;
	right: 88px;
	transform: rotate(60deg);
}
.direction.bl {
	bottom: -18px;
	left: 88px;
	transform: rotate(120deg);
}
.direction.l {
	top: 163px;
	left: -19px;
	transform: rotate(180deg);
}



body:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}


