
* {
	margin: 0;
	padding: 0;
}

#players {
	position: absolute;
	width: 900px;
	margin-left: -450px;
	left: 50%;
	height: 370px;
	margin-top: -185px;
	top: 50%;
}
table.players {
	border: solid 1px #000;
	width: 230px;
	position: absolute;
	right: 10px;
}
td.img {
	text-align: center;
}
tr.self .img.self,
tr.turn .img.turn {
	display: inline-block;
	height: 0;
	width: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
tr.self .img.self {
	border-left: 18px solid black;
}
tr.turn .img.turn {
	border-right: 18px solid black;
}

table#directions {
	float				: left;
	margin-right		: 20px;
	border				: solid 1px #000;
}
table#directions td {
	height				: 55px;
}

.ball {
	position: absolute;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: #aaa;
	border-radius: 50%;
	box-shadow: 0 0 10px #666 inset;
}
.ball.black {
	background: #666;
	box-shadow: 0 0 10px #666, 0 0 10px #000 inset;
}
.ball.white {
	background: white;
	box-shadow: 0 0 10px #666, 0 0 10px #666 inset;
}
.ball.selected {
	background: green;
}

.b {
	font-weight			: bold;
}
.u {
	text-decoration		: underline;
}
img {
	border				: none;
}
