
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	--ball-move-time: 100;
	max-width: 540px;
}
body.my-turn {
	background-color: #bfb;
}
body.their-turn {
	background-color: #fcc;
}


h1,
.friend-url {
	padding: 10px 0 0 10px;
}
#board,
#players,
#help {
	margin: 20px 0 0 10px;
}


/**
 * Module: board
 */

body[data-player="black"] #board {
	transform: rotate(180deg);
	transform-origin: center;
}

#board {
	--size: 8;
	--xscale: 50;
	--yscale: 173 / 200 * var(--xscale);
	--ball: 22;
	--margin: 30px;
	width: calc(var(--margin) * 2 + 1px * var(--size) * var(--xscale));
	height: calc(var(--margin) * 2 + 1px * var(--size) * var(--yscale));
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#board > .shape {
	width: 100%;
	height: 100%;
	background-color: #999;
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
	/*box-shadow: #000 0px 0px 0px 2px;*/
}

.hole,
.ball {
	position: absolute;
	/*cursor: pointer;*/
	width: calc(1px * var(--ball));
	height: calc(1px * var(--ball));
	transform: translate(calc(var(--ball) * -0.5px), calc(var(--ball) * -0.5px));
	border-radius: 50%;
	left: calc(var(--margin) + 1px * var(--xscale) * var(--left));
	top: calc(var(--margin) + 1px * var(--yscale) * var(--top));
}
.hole {
	background: #aaa;
	box-shadow: 0 0 10px #666 inset;
}
.ball {
	transition: left calc(1ms * var(--ball-move-time)) linear;
	transition-property: left, top;
}
.ball[data-color="black"] {
	background: #666;
	box-shadow: 0 0 10px #666, 0 0 5px #000 inset;
}
.ball[data-color="white"] {
	background: white;
	box-shadow: 0 0 10px #666, 0 0 5px #666 inset;
}
.ball.selected {
	background: lime;
	box-shadow: 0 0 10px #666, 0 0 5px green inset;
}



/**
 * Module: players
 */

table.players {
	border: solid 1px #000;
}
table.players th {
	text-decoration: underline;
	font-weight: normal;
	text-align: center;
}
table.players td.img {
	text-align: center;
}
table.players tr.self {
	font-weight: bold;
}
table.players .img.self,
table.players .img.turn {
	display: inline-block;
	height: 0;
	width: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
table.players tr.self .img.self {
	border-left: 18px solid black;
}
body.my-turn table.players tr.self .img.turn,
body.their-turn table.players tr.other .img.turn {
	border-right: 18px solid black;
}
table.players tr.other[data-status="offline"] {
	color: red;
	font-weight: bold;
}
table.players tr.other[data-status="inactive"] {
	color: orange;
	font-weight: bold;
}
table.players tr.other[data-status="pending"] {
	color: blue;
	font-weight: bold;
}



/**
 * Module: direction
 */

.direction {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: orange;
	z-index: 3;
	transform-origin: center;
	filter: drop-shadow(black 0 0 1px);
}
.direction:after {
	content: "\27A4";
}
.direction.tl {
	top: 0;
	left: calc(15px + 2px * var(--xscale));
	transform: translate(-15px, -15px) rotate(-120deg);
}
.direction.tr {
	top: 0;
	left: calc(0px + 7px * var(--xscale));
	transform: translate(-15px, -15px) rotate(-60deg);
}
.direction.r {
	top: 50%;
	left: 100%;
	transform: translate(-15px, -15px) rotate(0deg);
}
.direction.br {
	top: 100%;
	left: calc(0px + 7px * var(--xscale));
	transform: translate(-15px, -15px) rotate(60deg);
}
.direction.bl {
	top: 100%;
	left: calc(15px + 2px * var(--xscale));
	transform: translate(-15px, -15px) rotate(120deg);
}
.direction.l {
	top: 50%;
	left: 0;
	transform: translate(-15px, -15px) rotate(180deg);
}



body:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}


@media (max-width: 500px) {
	#board {
		--xscale: 38;
		--yscale: 173 / 200 * var(--xscale);
		--ball: 20;
		--margin: 28px;
	}
}
