
* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; text-align: center; }
html { font-size: 16px; }
a { color: inherit; }

.help,
.status {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	text-align: center;
	font-size: 1.4em;
}
.status {
	top: auto;
	bottom: 0;
	height: auto;
}
.help > p {
	padding-bottom: .5em;
}
.help > p:first-child {
	padding-top: .5em;
}
.status > p {
	padding-bottom: .5em;
}
#message.news {
	font-weight: bold;
	color: green;
	font-size: 2em;
	text-shadow: 0 0 10px lime;
}
#message:not(.news) {
	color: #ccc;
}

.game {
	height: 100%;
}
.game:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#map-container {
	box-shadow: 0 0 20px #666;
	display: inline-block;
	vertical-align: middle;
	background-color: #aaa;
	padding: 10px;
	border-radius: 6px;
}
.cell {
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	border: solid 1px #fff;
	border-color: #bbb #888 #888 #bbb;
	border-radius: 4px;
	background-color: #999;
}
.cell:not(.done):not(.na):hover {
	border-color: #fff;
}
.cell.na {
	cursor: default;
}
.line {
	width: 35px;
	height: 35px;
	border: 0;
}

.pad:not(.single-exit).done {
	border-radius: 15px;
}
.pad.single-exit.done.exit-n {
	border-top-left-radius: 20px 32px;
	border-top-right-radius: 20px 32px;
}
.pad.single-exit.done.exit-e {
	border-top-right-radius: 32px 20px;
	border-bottom-right-radius: 32px 20px;
}
.pad.single-exit.done.exit-s {
	border-bottom-left-radius: 20px 32px;
	border-bottom-right-radius: 20px 32px;
}
.pad.single-exit.done.exit-w {
	border-top-left-radius: 32px 20px;
	border-bottom-left-radius: 32px 20px;
}

.cell.na {
	border-color: transparent;
	background-color: #aaa;
}
.pad.type-1 {
	background-color: red;
}
.pad.type-2 {
	background-color: orange;
}
.pad.type-3 {
	background-color: white;
}
.pad.type-4 {
	background-color: black;
}
.pad.type-5 {
	background-color: #0d0;
}
.pad.type-6 {
	background-color: blue;
}

.line {
	background-image: url(/images/145-lines.png);
}
.line.type-1 {
	background-position: -300px 0;
}
.line.done.type-1.dir-v {
	background-position: 0 0;
}
.line.done.type-1.dir-h {
	background-position: -50px 0;
}
.line.done.type-1.dir-sw {
	background-position: -100px 0;
}
.line.done.type-1.dir-nw {
	background-position: -150px 0;
}
.line.done.type-1.dir-ne {
	background-position: -200px 0;
}
.line.done.type-1.dir-se {
	background-position: -250px 0;
}
.line.type-2 {
	background-position: -300px -50px;
}
.line.done.type-2.dir-v {
	background-position: 0 -50px;
}
.line.done.type-2.dir-h {
	background-position: -50px -50px;
}
.line.done.type-2.dir-sw {
	background-position: -100px -50px;
}
.line.done.type-2.dir-nw {
	background-position: -150px -50px;
}
.line.done.type-2.dir-ne {
	background-position: -200px -50px;
}
.line.done.type-2.dir-se {
	background-position: -250px -50px;
}
.line.type-3 {
	background-position: -300px -100px;
}
.line.done.type-3.dir-v {
	background-position: 0 -100px;
}
.line.done.type-3.dir-h {
	background-position: -50px -100px;
}
.line.done.type-3.dir-sw {
	background-position: -100px -100px;
}
.line.done.type-3.dir-nw {
	background-position: -150px -100px;
}
.line.done.type-3.dir-ne {
	background-position: -200px -100px;
}
.line.done.type-3.dir-se {
	background-position: -250px -100px;
}
.line.type-4 {
	background-position: -300px -150px;
}
.line.done.type-4.dir-v {
	background-position: 0 -150px;
}
.line.done.type-4.dir-h {
	background-position: -50px -150px;
}
.line.done.type-4.dir-sw {
	background-position: -100px -150px;
}
.line.done.type-4.dir-nw {
	background-position: -150px -150px;
}
.line.done.type-4.dir-ne {
	background-position: -200px -150px;
}
.line.done.type-4.dir-se {
	background-position: -250px -150px;
}
.line.type-5 {
	background-position: -300px -200px;
}
.line.done.type-5.dir-v {
	background-position: 0 -200px;
}
.line.done.type-5.dir-h {
	background-position: -50px -200px;
}
.line.done.type-5.dir-sw {
	background-position: -100px -200px;
}
.line.done.type-5.dir-nw {
	background-position: -150px -200px;
}
.line.done.type-5.dir-ne {
	background-position: -200px -200px;
}
.line.done.type-5.dir-se {
	background-position: -250px -200px;
}
.line.type-6 {
	background-position: -300px -250px;
}
.line.done.type-6.dir-v {
	background-position: 0 -250px;
}
.line.done.type-6.dir-h {
	background-position: -50px -250px;
}
.line.done.type-6.dir-sw {
	background-position: -100px -250px;
}
.line.done.type-6.dir-nw {
	background-position: -150px -250px;
}
.line.done.type-6.dir-ne {
	background-position: -200px -250px;
}
.line.done.type-6.dir-se {
	background-position: -250px -250px;
}

img.preload {
	width: 0;
	height: 0;
	position: absolute;
}

.row:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
