* { padding:0; margin:0; }
#frame { clear:both; }
#frame div.column { float:left; position:relative; width:100px; }
#frame div.block { outline:solid 1px #555; width:100px; height:100px; cursor:pointer; }
div[t="1"] { background-color:red; background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#f00), to(#500)); }
div[t="2"] { background-color:green; background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#0f0), to(#050)); }
div[t="3"] { background-color:blue; background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#00f), to(#005)); }
div[t="4"] { background-color:money; background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#ff0), to(#550)); }
div[t="5"] { background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#0ff), to(#055)); }
div[t="6"] { background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#f0f), to(#505)); }
div[t="7"] { background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#555), to(#000)); }
div[t="8"] { background-image:-webkit-gradient(linear, 70% 5%, 20% 100%, from(#fff), to(#555)); }
.clear { clear:both; }
