* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
html {
	font-size: 14px;
	font-family: Verdana;
	color: #000;
	line-height: 1.4;
	cursor: default;
}
body {
	background-color: #ccc;
}

button {
	padding: 6px 14px;
}
button.submit {
	font-weight: bold;
}
p {
	margin: 10px 0;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}

/* layout */
#content {
	text-align: center;
}
#menu,
#about {
	background-color: #bbb;
	padding: 20px;
	margin: 20px 0;
}

/* grid */
table#blackbox {
	border-collapse: collapse;
	display: block;
	width: 334px;
	height: 334px;
	margin: 20px auto;
}
table#blackbox td {
	width: 33px;
	height: 33px;
	text-align: center;
	padding: 0px;
	border: solid 1px #fff;
}
table#blackbox td.corner {
	border: none;
}
td.cfield,
td.grid {
	background: #aaa;
	font-weight: bold;
	font-size: 13px;
}
.show-atoms td.atom::after {
	content: "†";
}
td.impossible {
	background: #faa;
}
td.cfield_hilite,
td.hilite {
	background: lime;
}
td.side,
td.grid,
td[data-side] {
	cursor: pointer;
}
td.sd,
td[data-side="top"] {
	border-bottom: solid 1px #000;
	background: #bbb url(data:image/gif;base64,R0lGODlhFAAWAKEAAP///8z//wAAAAAAACH+TlRoaXMgYXJ0IGlzIGluIHRoZSBwdWJsaWMgZG9tYWluLiBLZXZpbiBIdWdoZXMsIGtldmluaEBlaXQuY29tLCBTZXB0ZW1iZXIgMTk5NQAh+QQBAAABACwAAAAAFAAWAAACIoyPqcvtD6OcNImLs8Zne4582yKCpPh80Shl1VXF8kzXUAEAOw==) no-repeat center bottom;
}
td.sl,
td[data-side="right"] {
	border-left: solid 1px #000;
	background: #bbb url(data:image/gif;base64,R0lGODlhFAAWAKEAAP///8z//wAAAAAAACH+TlRoaXMgYXJ0IGlzIGluIHRoZSBwdWJsaWMgZG9tYWluLiBLZXZpbiBIdWdoZXMsIGtldmluaEBlaXQuY29tLCBTZXB0ZW1iZXIgMTk5NQAh+QQBAAABACwAAAAAFAAWAAACK4yPqcvN4h6MSViK7MVBb+p9TihKZERqaDqNKfbCIdd5dF2CuX4fbQ9kFAAAOw==) no-repeat left center;
}
td.su,
td[data-side="bottom"] {
	border-top: solid 1px #000;
	background: #bbb url(data:image/gif;base64,R0lGODlhFAAWAKEAAP///8z//wAAAAAAACH+TlRoaXMgYXJ0IGlzIGluIHRoZSBwdWJsaWMgZG9tYWluLiBLZXZpbiBIdWdoZXMsIGtldmluaEBlaXQuY29tLCBTZXB0ZW1iZXIgMTk5NQAh+QQBAAABACwAAAAAFAAWAAACI4yPqcvtD6OcTQgarJ1ax949IFiNpGKaSZoeLIvF8kzXdlAAADs=) no-repeat center top;
}
td.sr,
td[data-side="left"] {
	border-right: solid 1px #000;
	background: #bbb url(data:image/gif;base64,R0lGODlhFAAWAKEAAP///8z//wAAAAAAACH+TlRoaXMgYXJ0IGlzIGluIHRoZSBwdWJsaWMgZG9tYWluLiBLZXZpbiBIdWdoZXMsIGtldmluaEBlaXQuY29tLCBTZXB0ZW1iZXIgMTk5NQAh+QQBAAABACwAAAAAFAAWAAACK4yPqcsd4pqAUU1az8V58+h9UtiFomWeSKpqZvXCXvZsdD3duF7zjw/UFQAAOw==) no-repeat right center;
}

/* layout */
@media (min-width: 740px) {
	#menu,
	#about {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: 0;
		width: 190px;
		padding: 0 20px;
		z-index: 2;
		overflow-y: auto;
		background-color: #bbb;
	}
	#menu {
		left: 0;
		border-right: solid 1px #999;
	}
	#about {
		right: 0;
		border-left: solid 1px #999;
	}
}

/* util */
div#loading {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 5px;
	display: none;
	background-color: #f00;
	color: #fff;
	z-index: 54;
}
