* {
	box-sizing			: border-box;
	font-family			: sans-serif;
	font-size			: 16px;
	line-height			: 1.4;
}
table {
	touch-action		: none;
}
@media (orientation: portrait) {
	html,
	body {
		touch-action	: none;
	}
}
.outside {
	border-collapse		: collapse;
}
.outside td {
	padding				: 10px;
	border				: solid 2px #ccc;
	vertical-align		: top;
}
.outside td.inside {
	padding				: 3px;
}
.inside table,
table.inside {
	border-collapse		: collapse;
	border				: 0;
}
.inside td {
	padding				: 0;
	width				: 23px;
	height				: 23px;
	line-height			: 23px;
	border				: solid 1px #eee;
	text-align			: center;
}
#building-blocks td:nth-child(2) {
	padding				: 0 5px;
}
td.wall,
td.wall1 {
	background-color	: #000;
}
td.wall2 {
	background-color	: #222;
}

#level-header > * {
	margin-top: 0;
	margin-bottom: 1em;
}

#loading {
	position			: absolute;
	visibility			: hidden;
	width				: 100px;
	margin-left			: -50px;
	left				: 50%;
	height				: 100px;
	margin-top			: -50px;
	top					: 50%;
	border				: none;
}

.thebox td.target {
	background-color	: #bbb;
}
.thebox td.box {
	background-color	: red;
}
.thebox td.pusher {
	background-color	: green;
}
.thebox td.box:after {
	content				: "B";
}
.thebox td.target:after {
	content				: "T";
}

.pixelus td.target {
	background-color	: #87cefa;
}
.pixelus td.stone span {
    display				: block;
    height				: 80%;
    width				: 80%;
	margin-left			: 10%;
	margin-top			: 10%;
	border-radius		: 5px;
    background-color	: #8b4513;
}

.steppingstones td.available {
	background-color	: #ccc;
}
.steppingstones td.stone span,
.steppingstones td.jumper span {
    display				: block;
    height				: 90%;
    width				: 90%;
	margin-left			: 5%;
	margin-top			: 5%;
	border-radius		: 4px;
    background-color	: #000;
}
.steppingstones td.jumper span {
	background-color	: #f00;
}

.atomix td.selected {
	background-color	: lime;
}
.atomix td[data-atom] span {
    display				: block;
    height				: 96%;
    width				: 96%;
	margin-left			: 2%;
	margin-top			: 2%;
	border-radius		: 99px;
}
.atomix td[data-atom] span:after {
	color				: white;
}
.atomix td[data-atom="H"] span {
	background-color	: blue;
}
.atomix td[data-atom="H"] span:after {
	content				: "H";
}
.atomix td[data-atom="O"] span {
	background-color	: red;
}
.atomix td[data-atom="O"] span:after {
	content				: "O";
}
.atomix td[data-atom="C"] span {
	background-color	: gray;
}
.atomix td[data-atom="C"] span:after {
	content				: "C";
}

.f1racer td.wall {
	background-color	: #090;
}
.f1racer td.wall2 {
	background-color	: green;
}
.f1racer td.asphalt {
	background-color	: black;
}
.f1racer td.asphalt.current {
	cursor				: pointer;
}
.f1racer td.asphalt.current:after {
	content				: "";
	display				: block;
	width				: 16px;
	height				: 16px;
	margin				: 3px auto 0;
	background-color	: red;
	pointer-events		: none;
}
.f1racer td.asphalt.done {
	background-color	: #333;
}
.f1racer td.asphalt.choosing-path {
	background-color	: green;
}
.f1racer td.asphalt.choose-path {
	background-color	: orange;
	cursor				: pointer;
}
