table.shape {
	--background: #000;
	--color: #fff;
	--size: 24px;
	--padding: 20px;

	background-color: var(--background);
	border-spacing: 2px;
	border: solid var(--padding) var(--background);
}
table.shape > tbody > tr > td {
	width: var(--size);
	height: var(--size);
	text-align: center;
	padding: 0;
}
table.shape > tbody > tr > td.shape {
	background-color: var(--color);
}

table.shape.stone {
	--background: transparent;
	/*--size: 10px;*/
	--padding: 0px;
}

table.shape.target table.shape.stone {
	--size: 10px;
	margin: 0 0 0.25em;
}

div > table.shape {
	margin: 1em 0;
}
