* {
	user-select: none;
}
body {
	font-family: sans-serif;
	max-width: 700px;
}

/**
 * Shapes
 */

table.shape {
	--background: #000;
	--color: #fff;
	--text: #000;
	--size: 20px;
	--padding: 20px;

	background-color: var(--background);
	border-spacing: 2px;
	border: solid var(--padding) var(--background);
}
table.shape > tbody > tr > td {
	width: var(--size);
	height: var(--size);
	text-align: center;
	color: var(--text);
	padding: 0;
}
table.shape > tbody > tr > td.shape {
	background-color: var(--color);
}

table.shape.stone {
	--background: transparent;
	--padding: 0px;
}

table.shape.target table.shape.stone {
	--size: 10px;
	margin: 0 0 0.25em;
}
table.target .score {
	color: #fff;
}

table.shape td.shape.hover::after {
	content: "☼";
	font-weight: bold;
}

/**
 * Game grid
 */

#grid .num-coins {
	background-color: gold;
	font-size: 30px;
	text-align: center;
	padding: 10px;
}
#grid .num-targets {
	background-color: black;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 10px;
}
#grid .num-targets.hards {
	color: red;
}

#grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 1fr;
	grid-gap: 10px;
	grid-auto-flow: row;
	justify-items: center;
	align-items: center;
	margin-bottom: 120px;
}
#grid .col-header {
	/*height: 60px;*/
}
#grid #oppo-targets {
	grid-column: 4;
	grid-row: 2;
}
#grid #oppo-coins {
	grid-column: 4;
	grid-row: 3;
}
#grid #player-targets {
	grid-column: 4;
	grid-row: 4;
}
#grid #targets {
	display: contents;
}
#grid .grid-cell {
	min-height: 50px;
	min-width: 50px;
	background-color: #eee;
	position: relative;
}
#grid #hand {
	justify-self: stretch;
	align-self: stretch;
	/*display: contents;*/
	grid-column: 1 / 5;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
}
#grid #hand:not(:empty) {
	margin-top: 5px;
	border-top: solid 5px #999;
	padding-top: 5px;
}
#grid #hand > * {
}

#grid table.shape.target {
	--corner: calc(2/3 * var(--padding));
}
#grid table.shape.target table.shape.stone {
	position: absolute;
	top: var(--corner);
	right: var(--corner);
}

/**
 * Stones footer
 */

.stones-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #eee;
	border-top: solid 1px #aaa;
	padding: 8px;
	overflow-x: auto;
	display: flex;
}
.stones-wrapper button {
	margin-right: .5em;
}
#stones {
	flex: 0 0 700px;
	width: 700px;
	display: flex;
	/*flex-flow: row wrap;*/
	gap: .5em;
	/*width: fit-content;*/
}

table.stone.selected {
	filter: drop-shadow(0px 0px 6px black);
}
table.stone[data-available="0"] {
	opacity: 0.4;
	transform: scale(0.75);
	display: none;
}
#stones table.stone:not([data-available="0"])::after {
	content: attr(data-available);
}

#start-master.mastering .start,
#start-master:not(.mastering) .end {
	display: none;
}

/**
 * MOBILE
 */

@media (max-width: 500px) {
	table.shape.target {
		--size: 16px;
		--padding: 10px;
	}
	table.shape.target table.shape.stone {
		--size: 8px;
	}
}
